<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c25769fd-cc88-42b0-8f35-f06c04f30798/resourcegroups/reviewResourceGroup/providers/Microsoft.Web/sites/review20191121075119</ResourceId>
    <ResourceGroup>reviewResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://review20191121075119.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>review20191121075119.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>review20191121075119</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$review20191121075119</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="reviewmodeldb" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:review20191121075119dbserver.database.windows.net,1433;Initial Catalog=review20191121075119_db;User ID=rootuser@review20191121075119dbserver;Password=Rushabh@27" Name="Data Source=tcp:review20191121075119dbserver.database.windows.net,1433;Initial Catalog=review20191121075119_db;User Id=rootuser@review20191121075119dbserver;Password=Rushabh@27" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="review.Models.reviewmodeldb, review" MigrationConfiguration="review.Migrations.Configuration, review" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="reviewmodeldb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:review20191121075119dbserver.database.windows.net,1433;Initial Catalog=review20191121075119_db;User Id=rootuser@review20191121075119dbserver;Password=Rushabh@27</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>